---
extra_packages: []

# geerlingguy.containerd
containerd_config_cgroup_driver_systemd: true

# geerlingguy.kubernetes
kubernetes_allow_pods_on_control_plane: false
kubernetes_version: "1.32"
# kubernetes_calico_manifest_file: https://raw.githubusercontent.com/projectcalico/calico/refs/tags/v3.28.2/manifests/calico.yaml
# kubernetes_pod_network:
  # Flannel CNI.
  # cni: flannel
  # cidr: 10.244.0.0/16
  # Calico CNI.
  # # cni: calico
  # cidr: 10.24.0.0/16

# geerlingguy.helm
helm_version: v3.17.0

# local tasks - PureLB
purelb_v4pools:
  - subnet: 192.168.11.0/24
    pool: 192.168.11.96/27
    name: home

kubernetes_fluxcd_bootstrap: true
kubernetes_fluxcd_bootstrap_config:
  gitea_token: !vault |
          $ANSIBLE_VAULT;1.2;AES256;homelab
          34653633336337396131666335303565623161326163333762393965356261613937613832333566
          3963653866326532393636386164323035656165613062330a313539633839363932313139303963
          61613531313466333731646264663237373131383031653866623038666539353430303939376566
          3565656166363032630a306363326365356163366432356661616130616230313965323837623736
          37326564393165326165653661326266643538383939383561616562653335666530356362386539
          3837303333643063363932663361383462383739343831333363
  git_hostname: git.gringolito.com
  repository_owner: gringolito
  repository_name: flux-cd
  tracking_branch: master
  cluster_name: home
  personal: true

# Zabbix Agent installation
zabbix_agent2: true
zabbix_agent_version: 7.0
zabbix_agent_install_agent_only: true
zabbix_agent_version_check: false

# Zabbix Agent configuration
zabbix_agent_server: '{{ zabbix_server_fqdn }}'
zabbix_agent_serveractive: '{{ zabbix_server_fqdn }}'
zabbix_agent_hostname: '{{ inventory_hostname_short }}'
zabbix_agent_chassis: true

# Zabbix Server host configuration
ansible_zabbix_url_path: ''
zabbix_api_use_ssl: true
zabbix_api_validate_certs: true
ansible_zabbix_auth_key: !vault |
          $ANSIBLE_VAULT;1.2;AES256;homelab
          35633838616164383364633038663364343238653936346430373530633331653363356136396231
          6536353236613539333930323437313934613436326235380a373930613531346337623238623464
          39336337646161633965626334333835643337613761356264306665306561333032333361316463
          3065646262343139320a316433353461333265376263636336386139303539626532343935646361
          38323866303638353566663032663231616633613665663933346230653463636533393438626133
          38373138303730313965663737613039383061356163646561643635616161616561373866666539
          61636365653537613832303365326661643164326664663662356436386363356136643138616235
          32313362333735613463
# zabbix_api_create_hostgroup: true
# zabbix_api_create_hosts: true
zabbix_agent_host_state: present
zabbix_agent_host_update: true
zabbix_agent_inventory_mode: automatic
zabbix_agent_dont_detect_ip: true
zabbix_agent_tlsconnect: unencrypted
zabbix_agent_tlsaccept: unencrypted
zabbix_agent_tlspskfile: null
zabbix_run_sudo: false
zabbix_host_groups:
  - Linux servers
  - Terraform VMs
zabbix_agent_link_templates:
  - Linux by Zabbix agent
zabbix_useuip: 0
zabbix_agent_interfaces:
  - type: 1
    main: 1
    useip: '{{ zabbix_useuip }}'
    ip: ''
    dns: '{{ ansible_fqdn }}'
    port: '{{ zabbix_agent_listenport }}'
