{% for pool in purelb_v4pools %}
---
apiVersion: crd.projectcalico.org/v1
kind: IPPool
metadata:
  name: purelb-ipv4-{{ pool.name }}
spec:
  cidr: {{ pool.subnet }}
  disabled: true
{% endfor %}
{% if purelb_v6pools is defined %}
{% for pool in purelb_v6pools %}
---
apiVersion: crd.projectcalico.org/v1
kind: IPPool
metadata:
  name: purelb-ipv6-{{ pool.name }}
spec:
  cidr: {{ pool.subnet }}
  disabled: true
{% endfor %}
{% endif %}
