---
- name: Load Ansible variables
  hosts:
    - all
  tasks:
    - name: From Terraform execution
      ansible.builtin.include_vars: "{{ terraform_var_file }}"
      tags:
        - always

- name: Set-up DHCP and Authoritative DNS server
  hosts:
    - dhcp
  roles:
    - powerdns
    - isc_kea
    - radvd

- name: Set-up Unbound recursive DNS server
  hosts:
    - resolver
  roles:
    - unbound

- name: Set-up Pi-Hole Ad-blocker DNS server
  hosts:
    - pihole
  roles:
    - pihole
