---
- name: Load Ansible variables
  gather_facts: false
  hosts:
    - all
  tasks:
    - name: From Terraform execution
      ansible.builtin.include_vars: "{{ terraform_var_file }}"
      tags:
        - always

- name: Common customizations
  gather_facts: false
  hosts:
    - all
  tasks:
    - name: Setup shell history search
      ansible.builtin.lineinfile:
        path: /etc/inputrc
        line: '"{{ item.key }}": {{ item.command }}'
        regexp: '^"{{ item.key | regex_escape }}":'
      loop:
        - key: \e[A # Up arrow key
          command: history-search-backward
        - key: \e[B # Down arrow key
          command: history-search-forward

    - name: Set default bash prompt
      ansible.builtin.lineinfile:
        path: /etc/bash.bashrc
        line: PS1='\h(\u) in \w \$ '
        regexp: ^\s*PS1=
      loop:
        - /etc/bash.bashrc
        - /root/.bashrc

- name: Set-up DHCP and Authoritative DNS server
  hosts:
    - dhcp
  roles:
    - powerdns
    - isc_kea
    - radvd

- name: Set-up Unbound recursive DNS server
  hosts:
    - resolver
  roles:
    - unbound

- name: Set-up Pi-Hole Ad-blocker DNS server
  hosts:
    - pihole
  roles:
    - pihole
